﻿@{
ViewData["Title"] = "Competitors Comparisonn Page";
}

@* Start Main Content *@
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card ">
				<div class="card-header">
					<h4 class="card-title"> Competitors Comparisonn Table</h4>
					<div class="row">
						<div class="col-md-12">
							<button type="button" data-toggle="modal" data-target=".add-data" class="btn btn-primary float-right ml-5">
								Add Data
							</button>
							@* <div class="float-right">
								<input type="text" class="btn form-control border border-light" placeholder="Search data here">
							</div> *@
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table id="example1" class="table table-bordered table-striped">
							<thead class=" text-primary">
								<tr>
									<th>
										No
									</th>
									<th>
										Name
									</th>
									<th>
										Unit of Measurement
									</th>
									<th>
										Group
									</th>
									<th class="text-center" colspan="2">
										Recipe A
									</th>
									<th class="text-center" colspan="2">
										Recipe B
									</th>
									<th>
										Competitor X
									</th>
									<th>
										Action
									</th>
									<th>
										
									</th>
									<th>
										
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										1
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".view-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-zoom-split text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button data-toggle="modal" data-target=".edit-data" type="button" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-pencil text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".delete-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-trash-simple text-white"></i>
										</button>
									</td>
								</tr>
								<tr>
									<td>
										2
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".view-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-zoom-split text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button data-toggle="modal" data-target=".edit-data" type="button" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-pencil text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".delete-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-trash-simple text-white"></i>
										</button>
									</td>
								</tr>
								<tr>
									<td>
										3
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".view-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-zoom-split text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button data-toggle="modal" data-target=".edit-data" type="button" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-pencil text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".delete-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-trash-simple text-white"></i>
										</button>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th>
										No
									</th>
									<th>
										Name
									</th>
									<th>
										Unit of Measurement
									</th>
									<th>
										Group
									</th>
									<th class="text-center" colspan="2">
										Recipe A
									</th>
									<th class="text-center" colspan="2">
										Recipe B
									</th>
									<th>
										Competitor X
									</th>
									<th colspan="3">
										Action
									</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@* End Main Content *@

@* Start Add Data Modal *@
<div class="modal fade add-data" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content bg-transparent">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Add Data</h5>
				</div>
				<div class="card-body">
					<form>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>ID</label>
									<input type="number" class="form-control" placeholder="Please fill ID" value="123456" readonly>
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>Name</label>
									<input type="text" class="form-control" placeholder="Please fill name">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>Unit of Measurement</label>
									<input value="Lorem Ipsum" type="text" class="form-control" placeholder="Please fill ingredients">
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>Group</label>
									<input value="Lorem Ipsum" type="text" class="form-control" placeholder="Please fill to institution">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>Recipe List</label>
									<select class="custom-select" id="inputGroupSelect01">
										<option class="text-dark" selected>Choose recipe list</option>
										<option class="text-dark" value="active">Lorem Ipsum</option>
										<option class="text-dark" value="not_active">Lorem Ipsum</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>Competitor List</label>
									<select class="custom-select" id="inputGroupSelect01">
										<option class="text-dark" selected>Choose competitor list</option>
										<option class="text-dark" value="active">Lorem Ipsum</option>
										<option class="text-dark" value="not_active">Lorem Ipsum</option>
									</select>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<button data-dismiss="modal" class="btn btn-fill btn-primary float-right ml-4">Add Data</button>
					<button data-dismiss="modal" class="btn btn-fill btn-secondary float-right">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
@* End Add Data Modal *@

@* Start View Data Modal *@
<div class="modal fade view-data" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog  modal-lg">
		<div class="modal-content bg-transparent">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Detail Data</h5>
				</div>
				<div class="card-body">
					<div class="card card-user">
						<div class="card-body">
							<p class="card-text">
							</p>
							<div class="author">
								<div class="block block-one"></div>
								<div class="block block-two"></div>
								<div class="block block-three"></div>
								<div class="block block-four"></div>
							</div>

							<div class="row mt-4">
								<div class="col-md-3 border-left border-primary">
									<h5>ID</h5>
									<p>1234567</p>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Name</h5>
									<p>Lorem Ipsum</p>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Group</h5>
									<p>Lorem Ipsum</p>
									</ul>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Unit of Measurement</h5>
									<p>Lorem Ipsum</p>
								</div>
							</div>

							<div class="row mt-4">
								<div class="col-md-3 border-left border-primary">
									<h5>Recipe A</h5>
									<p>Lorem Ipsum</p>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Recipe B</h5>
									<p>Lorem Ipsum</p>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Recipe C</h5>
									<p>Lorem Ipsum</p>
									</ul>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Competitor X</h5>
									<p>Lorem Ipsum</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<button data-dismiss="modal" class="btn btn-fill btn-primary float-right ml-4">Update Data</button>
					<button data-dismiss="modal" class="btn btn-fill btn-secondary float-right">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
@* End View Data Modal *@

@* Start Delete Data Modal *@
<div class="modal fade delete-data" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content bg-transparent">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Delete Data</h5>
				</div>
				<div class="card-body">
					<div class="text-center">
						<h2>Are you sure you want to delete this data? </h2>
						<h4 class="text-muted">You not be able to recover it</h4>
					</div>
				</div>
				<div class="card-footer">
					<button data-dismiss="modal" class="btn btn-fill btn-primary float-right ml-4">Yes, Delete it</button>
					<button data-dismiss="modal" class="btn btn-fill btn-secondary float-right">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
@* End Delete Data Modal *@

@* Start Edit Data Modal *@
<div class="modal fade edit-data" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content bg-transparent">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Edit Data</h5>
				</div>
				<div class="card-body">
					<form>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>ID</label>
									<input type="number" class="form-control" placeholder="Please fill ID" value="123456" readonly>
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>Name</label>
									<input value="Lorem Ipsum" type="text" class="form-control" placeholder="Please fill name">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>Unit of Measurement</label>
									<input value="Lorem Ipsum" type="text" class="form-control" placeholder="Please fill ingredients">
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>Group</label>
									<input value="Lorem Ipsum" type="text" class="form-control" placeholder="Please fill to institution">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>Recipe List</label>
									<select class="custom-select" id="inputGroupSelect01">
										<option class="text-dark" selected>Choose recipe list</option>
										<option class="text-dark" value="active">Lorem Ipsum</option>
										<option class="text-dark" value="not_active">Lorem Ipsum</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>Competitor List</label>
									<select class="custom-select" id="inputGroupSelect01">
										<option class="text-dark" selected>Choose competitor list</option>
										<option class="text-dark" value="active">Lorem Ipsum</option>
										<option class="text-dark" value="not_active">Lorem Ipsum</option>
									</select>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<button data-dismiss="modal" class="btn btn-fill btn-primary float-right ml-4">Save Data</button>
					<button data-dismiss="modal" class="btn btn-fill btn-secondary float-right">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
@* End Edit Data Modal *@
