﻿@{
ViewData["Title"] = "Home Page";
}

@* Start Main Content *@
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card ">
				<div class="card-header">
					<h4 class="card-title"> Products Database</h4>
					<div class="row">
						<div class="col-md-12">
							<button type="button" data-toggle="modal" data-target=".add-data" class="btn btn-primary float-right ml-5">
								Add Data
							</button>
							@* <div class="float-right">
								<input type="text" class="btn form-control border border-light" placeholder="Search data here">
							</div> *@
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>
										No
									</th>
									<th>
										Name
									</th>
									<th>
										Version
									</th>
									<th>
										Picture
									</th>
									<th>
										Serving Size
									</th>
									<th>
										Flavour
									</th>
									<th>
										Active
									</th>
									<th>
										Edition
									</th>
									<th>
										Ingredients
									</th>
									<th>
										Front Pack Claim
									</th>
									<th>
										Back of Pack Claim
									</th>
									<th>
										Preparation
									</th>
									<th>
										Other Statement BOP
									</th>
									<th>
										Action
									</th>
									<th>
										
									</th>
									<th>
										
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										1
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".view-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-zoom-split text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button data-toggle="modal" data-target=".edit-data" type="button" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-pencil text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".delete-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-trash-simple text-white"></i>
										</button>
									</td>
								</tr>
								<tr>
									<td>
										2
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".view-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-zoom-split text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button data-toggle="modal" data-target=".edit-data" type="button" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-pencil text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".delete-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-trash-simple text-white"></i>
										</button>
									</td>
								</tr>
								<tr>
									<td>
										3
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".view-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-zoom-split text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button data-toggle="modal" data-target=".edit-data" type="button" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-pencil text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".delete-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-trash-simple text-white"></i>
										</button>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th>
										No
									</th>
									<th>
										Name
									</th>
									<th>
										Version
									</th>
									<th>
										Picture
									</th>
									<th>
										Serving Size
									</th>
									<th>
										Flavour
									</th>
									<th>
										Active
									</th>
									<th>
										Edition
									</th>
									<th>
										Ingredients
									</th>
									<th>
										Front Pack Claim
									</th>
									<th>
										Back of Pack Claim
									</th>
									<th>
										Preparation
									</th>
									<th>
										Other Statement BOP
									</th>
									<th colspan="3">
										Action
									</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@* End Main Content *@

@* Start Add Data Modal *@
<div class="modal fade add-data" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content bg-transparent">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Add Data</h5>
				</div>
				<div class="card-body">
					<form>
						<div class="row">
							<div class="col-md-5 pr-md-1">
								<div class="form-group">
									<label>ID (read only)</label>
									<input type="text" class="form-control" readonly placeholder="ID" value="12345678">
								</div>
							</div>
							<div class="col-md-3 px-md-1">
								<div class="form-group">
									<label>Name</label>
									<input type="text" class="form-control" placeholder="Please fill name">
								</div>
							</div>
							<div class="col-md-4 pl-md-1">
								<div class="form-group">
									<label for="exampleInputEmail1">Serving Sice</label>
									<input type="text" class="form-control" placeholder="Please fill serving sice (gram)">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>Flavour</label>
									<input type="text" class="form-control" placeholder="Please fill flavour">
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>Status</label>
									<select class="custom-select" id="inputGroupSelect01">
										<option class="text-dark" selected>Choose status</option>
										<option class="text-dark" value="active">Active</option>
										<option class="text-dark" value="not_active">Not Active</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>From Edition</label>
									<input type="date" class="form-control" placeholder="Please fill from edition">
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>To Edition</label>
									<input type="date" class="form-control" placeholder="Please fill to edition">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>Ingredients</label>
									<input type="text" class="form-control" placeholder="Please fill ingredients">
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>Version</label>
									<input type="number" class="form-control" placeholder="Please fill to edition">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Picture</label>
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="inputGroupFile01">
										<label class="custom-file-label" for="inputGroupFile01">Choose picture file (.jpg, .png)</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>Front Pack Claim</label>
									<input type="text" class="form-control" placeholder="Please fill front pack claim">
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>Back of Pack Claim</label>
									<input type="text" class="form-control" placeholder="Please fill back of pack claim">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>Preparation</label>
									<input type="text" class="form-control" placeholder="Please fill preparation">
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>Recommended Use</label>
									<input type="text" class="form-control" placeholder="Please fill recommended use">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label>Other Statement BOP</label>
									<textarea rows="4" cols="80" class="form-control"
										placeholder="Here can be your description"></textarea>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<button data-dismiss="modal" class="btn btn-fill btn-primary float-right ml-4">Add Data</button>
					<button data-dismiss="modal" class="btn btn-fill btn-secondary float-right">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
@* End Add Data Modal *@

@* Start View Data Modal *@
<div class="modal fade view-data" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog  modal-lg">
		<div class="modal-content bg-transparent">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Detail Data</h5>
				</div>
				<div class="card-body">
					<div class="card card-user">
						<div class="card-body">
							<p class="card-text">
							</p>
							<div class="author">
								<div class="block block-one"></div>
								<div class="block block-two"></div>
								<div class="block block-three"></div>
								<div class="block block-four"></div>
								<a href="javascript:void(0)">
									<img class="avatar" src="~/lib/assets/img/products01.PNG" alt="...">
									<h5 class="title">Lorem Ipsum</h5>
								</a>
								<p class="description">
									Lorem Ipsum
								</p>
							</div>
							<p></p>
							<div class="card-description">
								<h4>Other Statement BOP</h4>
								Anlene adalah produk susu dewasa nomer satu di Indonesia. Diformulasikan secara khusus untuk membantu
								orang Indonesia bergerak semuda yang mereka rasakan melalui nutrisi yang mendukung kesehatan otot,
								persendian dan tulang untuk gaya hidup aktif...
							</div>

							<div class="row mt-4">
								<div class="col-md-3 border-left border-primary">
									<h5>Name</h5>
									<p>Lorem Ipsum</p>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Serving Size</h5>
									<p>Lorem Ipsum</p>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Flavour</h5>
									<p>Lorem Ipsum</p>
									</ul>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Status</h5>
									<span class="badge badge-pill badge-primary">Active</span>
								</div>
							</div>

							<div class="row mt-4">
								<div class="col-md-3 border-left border-primary">
									<h5>Edition</h5>
									<p>1 April 2020 - 1 April 2021</p>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Front Pack Claim</h5>
									<p>Lorem Ipsum</p>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Back of Pack Claim</h5>
									<p>Lorem Ipsum</p>
									</ul>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Preparation</h5>
									<p>Lorem Ipsum</p>
								</div>
							</div>

							<div class="row mt-4">
								<div class="col-md-3 border-left border-primary">
									<h5>Recommended Use</h5>
									<p>Lorem Ipsum</p>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Verison</h5>
									<p>Lorem Ipsum</p>
								</div>
								<div class="col-md-6">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<button data-dismiss="modal" class="btn btn-fill btn-primary float-right ml-4">Update Data</button>
					<button data-dismiss="modal" class="btn btn-fill btn-secondary float-right">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
@* End View Data Modal *@

@* Start Delete Data Modal *@
<div class="modal fade delete-data" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content bg-transparent">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Delete Data</h5>
				</div>
				<div class="card-body">
					<div class="text-center">
						<h2>Are you sure you want to delete this data? </h2>
						<h4 class="text-muted">You not be able to recover it</h4>
					</div>
				</div>
				<div class="card-footer">
					<button data-dismiss="modal" class="btn btn-fill btn-primary float-right ml-4">Yes, Delete it</button>
					<button data-dismiss="modal" class="btn btn-fill btn-secondary float-right">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
@* End Delete Data Modal *@

@* Start Edit Data Modal *@
<div class="modal fade edit-data" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content bg-transparent">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Edit Data</h5>
				</div>
				<div class="card-body">
					<form>
						<div class="row">
							<div class="col-md-5 pr-md-1">
								<div class="form-group">
									<label>ID (read only)</label>
									<input type="text" class="form-control" readonly placeholder="ID" value="12345678">
								</div>
							</div>
							<div class="col-md-3 px-md-1">
								<div class="form-group">
									<label>Name</label>
									<input type="text" value="Lorem Ipsum" class="form-control" placeholder="Please fill name">
								</div>
							</div>
							<div class="col-md-4 pl-md-1">
								<div class="form-group">
									<label for="exampleInputEmail1">Serving Sice</label>
									<input type="text" value="Lorem Ipsum" class="form-control"
										placeholder="Please fill serving sice (gram)">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>Flavour</label>
									<input type="text" value="Lorem Ipsum" class="form-control" placeholder="Please fill flavour">
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>Status</label>
									<select class="custom-select" id="inputGroupSelect01">
										<option class="text-dark" selected>Choose status</option>
										<option class="text-dark" value="active">Active</option>
										<option class="text-dark" value="not_active">Not Active</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>From Edition</label>
									<input type="date" class="form-control" placeholder="Please fill from edition">
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>To Edition</label>
									<input type="date" class="form-control" placeholder="Please fill to edition">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>Ingredients</label>
									<input value="Lorem Ipsum" type="text" class="form-control" placeholder="Please fill ingredients">
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>Version</label>
									<input value="Lorem Ipsum" type="number" class="form-control" placeholder="Please fill to edition">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Picture</label>
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="inputGroupFile01">
										<label class="custom-file-label" for="inputGroupFile01">Choose picture file (.jpg, .png)</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>Front Pack Claim</label>
									<input type="text" value="Lorem Ipsum" class="form-control"
										placeholder="Please fill front pack claim">
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>Back of Pack Claim</label>
									<input type="text" value="Lorem Ipsum" class="form-control"
										placeholder="Please fill back of pack claim">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 pr-md-1">
								<div class="form-group">
									<label>Preparation</label>
									<input type="text" value="Lorem Ipsum" class="form-control" placeholder="Please fill preparation">
								</div>
							</div>
							<div class="col-md-6 pl-md-1">
								<div class="form-group">
									<label>Recommended Use</label>
									<input type="text" value="Lorem Ipsum" class="form-control" placeholder="Please fill recommended use">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label>Other Statement BOP</label>
									<textarea rows="4" cols="80" class="form-control"
										placeholder="Here can be your description">Lorem Ipsum</textarea>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<button data-dismiss="modal" class="btn btn-fill btn-primary float-right ml-4">Save Data</button>
					<button data-dismiss="modal" class="btn btn-fill btn-secondary float-right">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
@* End Edit Data Modal *@
