﻿@{
ViewData["Title"] = "Materials Database";
}

@* Start Main Content *@
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card ">
				<div class="card-header">
					<h4 class="card-title"> Materials Table</h4>
					<div class="row">
						<div class="col-md-12">
							<button type="button" data-toggle="modal" data-target=".add-data"
								class="btn btn-primary float-right ml-5">
								Add Data
							</button>
							@* <div class="float-right">
								<input type="text" class="btn form-control border border-light" placeholder="Search data here">
							</div> *@
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>
										No
									</th>
									<th>
										Material Number
									</th>
									<th>
										Category
									</th>
									<th>
										Material Description
									</th>
									<th>
										Energy (Kj)
									</th>
									<th>
										Energy (Kcal)
									</th>
									<th>
										Protein (g)
									</th>
									<th>
										Colagen
									</th>
									<th>
										Action
									</th>
									<th>
										
									</th>
									<th>
										
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										1
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".view-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-zoom-split text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button data-toggle="modal" data-target=".edit-data" type="button" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-pencil text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".delete-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-trash-simple text-white"></i>
										</button>
									</td>
								</tr>
								<tr>
									<td>
										2
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".view-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-zoom-split text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button data-toggle="modal" data-target=".edit-data" type="button" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-pencil text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".delete-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-trash-simple text-white"></i>
										</button>
									</td>
								</tr>
								<tr>
									<td>
										3
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td>
										Lorem Ipsum
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".view-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-zoom-split text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button data-toggle="modal" data-target=".edit-data" type="button" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-pencil text-white"></i>
										</button>
									</td>
									<td class="td-actions text-left">
										<button type="button" data-toggle="modal" data-target=".delete-data" rel="tooltip" title=""
											class="btn btn-link" data-original-title="Edit Task">
											<i class="tim-icons icon-trash-simple text-white"></i>
										</button>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th>
										No
									</th>
									<th>
										Material Number
									</th>
									<th>
										Category
									</th>
									<th>
										Material Description
									</th>
									<th>
										Energy (Kj)
									</th>
									<th>
										Energy (Kcal)
									</th>
									<th>
										Protein (g)
									</th>
									<th>
										Colagen
									</th>
									<th colspan="3">
										Action
									</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@* End Main Content *@

@* Start Add Data Modal *@
<div class="modal fade add-data" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content bg-transparent">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Add Data</h5>
				</div>
				<div class="card-body">
					<form>
						<div class="row">
							<div class="col-md-5 pr-md-1">
								<div class="form-group">
									<label>ID (read only)</label>
									<input type="text" class="form-control" readonly placeholder="ID" value="12345678">
								</div>
							</div>
							<div class="col-md-3 px-md-1">
								<div class="form-group">
									<label>Material Number</label>
									<input type="number" value="Lorem Ipsum" class="form-control"
										placeholder="Please fill Material Number">
								</div>
							</div>
							<div class="col-md-4 pl-md-1">
								<div class="form-group">
									<label>Category</label>
									<select class="custom-select" id="inputGroupSelect01">
										<option class="text-dark" selected>Choose status</option>
										<option class="text-dark" value="active">Dairy Material</option>
										<option class="text-dark" value="not_active">Flavor</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 pr-md-1">
								<div class="form-group">
									<label>Energy (Kj)</label>
									<input type="number" class="form-control" placeholder="Please fill Energy (Kj)">
								</div>
							</div>
							<div class="col-md-3 px-md-1">
								<div class="form-group">
									<label>Energy (Kcal)</label>
									<input type="number" class="form-control" placeholder="Please fill Energy (Kcal)">
								</div>
							</div>
							<div class="col-md-3 pl-md-1">
								<div class="form-group">
									<label>Protein (g)</label>
									<input type="number" class="form-control" placeholder="Please fill Protein">
								</div>
							</div>
							<div class="col-md-3 pl-md-1">
								<div class="form-group">
									<label>Kolagen</label>
									<input type="number" class="form-control" placeholder="Please fill Kolagen">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label>Material Description</label>
									<textarea rows="4" cols="80" class="form-control"
										placeholder="Here can be your description"></textarea>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<button data-dismiss="modal" class="btn btn-fill btn-primary float-right ml-4">Add Data</button>
					<button data-dismiss="modal" class="btn btn-fill btn-secondary float-right">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
@* End Add Data Modal *@

@* Start View Data Modal *@
<div class="modal fade view-data" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog  modal-lg">
		<div class="modal-content bg-transparent">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Detail Data</h5>
				</div>
				<div class="card-body">
					<div class="card card-user">
						<div class="card-body">
							<p class="card-text">
							</p>
							<div class="author">
								<div class="block block-one"></div>
								<div class="block block-two"></div>
								<div class="block block-three"></div>
								<div class="block block-four"></div>
								<div class="card-description"></div>
								<h4>Material Description</h4>
								Anlene adalah produk susu dewasa nomer satu di Indonesia. Diformulasikan secara khusus untuk membantu
								orang Indonesia bergerak semuda yang mereka rasakan melalui nutrisi yang mendukung kesehatan otot,
								persendian dan tulang untuk gaya hidup aktif...
							</div>

							<div class="row mt-4">
								<div class="col-md-3 border-left border-primary">
									<h5>Material Number</h5>
									<p>Lorem Ipsum</p>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Category</h5>
									<p>Lorem Ipsum</p>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Energy (Kj)</h5>
									<p>Lorem Ipsum</p>
									</ul>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Energy (Kcal)</h5>
									<p>Lorem Ipsum</p>
								</div>
							</div>

							<div class="row mt-4">
								<div class="col-md-3 border-left border-primary">
									<h5>Protein (g)</h5>
									<p>Lorem Ipsum</p>
								</div>
								<div class="col-md-3 border-left border-primary">
									<h5>Kolagen</h5>
									<p>Lorem Ipsum</p>
								</div>
								<div class="col-md-6 border-left border-primary">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<button data-dismiss="modal" class="btn btn-fill btn-primary float-right ml-4">Update Data</button>
					<button data-dismiss="modal" class="btn btn-fill btn-secondary float-right">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
@* End View Data Modal *@

@* Start Delete Data Modal *@
<div class="modal fade delete-data" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content bg-transparent">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Delete Data</h5>
				</div>
				<div class="card-body">
					<div class="text-center">
						<h2>Are you sure you want to delete this data? </h2>
						<h4 class="text-muted">You not be able to recover it</h4>
					</div>
				</div>
				<div class="card-footer">
					<button data-dismiss="modal" class="btn btn-fill btn-primary float-right ml-4">Yes, Delete it</button>
					<button data-dismiss="modal" class="btn btn-fill btn-secondary float-right">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
@* End Delete Data Modal *@

@* Start Edit Data Modal *@
<div class="modal fade edit-data" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content bg-transparent">
			<div class="card">
				<div class="card-header">
					<h5 class="title">Edit Data</h5>
				</div>
				<div class="card-body">
					<form>
						<div class="row">
							<div class="col-md-5 pr-md-1">
								<div class="form-group">
									<label>ID (read only)</label>
									<input type="text" class="form-control" readonly placeholder="ID" value="12345678">
								</div>
							</div>
							<div class="col-md-3 px-md-1">
								<div class="form-group">
									<label>Material Number</label>
									<input type="number" value="Lorem Ipsum" class="form-control"
										placeholder="Please fill Material Number">
								</div>
							</div>
							<div class="col-md-4 pl-md-1">
								<div class="form-group">
									<label>Category</label>
									<select class="custom-select" id="inputGroupSelect01">
										<option class="text-dark" selected>Choose status</option>
										<option class="text-dark" value="active">Dairy Material</option>
										<option class="text-dark" value="not_active">Flavor</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 pr-md-1">
								<div class="form-group">
									<label>Energy (Kj)</label>
									<input type="number" class="form-control" placeholder="Please fill Energy (Kj)" value="37">
								</div>
							</div>
							<div class="col-md-3 px-md-1">
								<div class="form-group">
									<label>Energy (Kcal)</label>
									<input type="number" class="form-control" placeholder="Please fill Energy (Kcal)" value="37">
								</div>
							</div>
							<div class="col-md-3 pl-md-1">
								<div class="form-group">
									<label>Protein (g)</label>
									<input type="number" class="form-control" placeholder="Please fill Protein" value="37">
								</div>
							</div>
							<div class="col-md-3 pl-md-1">
								<div class="form-group">
									<label>Kolagen</label>
									<input type="number" class="form-control" placeholder="Please fill Kolagen" value="37">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label>Material Description</label>
									<textarea rows="4" cols="80" class="form-control"
										placeholder="Here can be your description">Lorem Ipsum</textarea>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<button data-dismiss="modal" class="btn btn-fill btn-primary float-right ml-4">Save Data</button>
					<button data-dismiss="modal" class="btn btn-fill btn-secondary float-right">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
@* End Edit Data Modal *@
