﻿@{
ViewData["Title"] = "Formulation Log Sheet";
}

@* Start Main Content *@
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card ">
				<div class="card-header">
					<h4 class="card-title"> Formulation Log Sheet</h4>
				</div>
				<div class="card-body">
					<h1>COMING SOON!</h1>
				</div>
			</div>
		</div>
	</div>
</div>
@* End Main Content *@
